<template>
    <div class="custom-actions">
        <button
                data-toggle="modal"
                data-target="#editMilestoneModal"
                :data-milestone_id="rowData.id"
                :data-milestone_name="rowData.name"
                :data-milestone_assigned_to="rowData.assignedTo"
                :data-milestone_description="rowData.description"
                :data-milestone_complete_by="rowData.complete_by"
                class="btn btn-warning"
                >
                <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <button class="btn btn-danger" @click="deleteRecord('delete-item', rowData, rowIndex)"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</template>

  <script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    data() {
        return {
            href: "/milestones/" + this.rowData.id + "/edit"
        }
    },
    methods: {
      deleteRecord (action, data, index) {
        var self = this;
        swal({
            title: "Confirm",
            text: "Delete " + data.name + "?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true
        },
        function(){
            self.$http.delete('/milestones/' + self.rowData.id).then(
                (response) => {
                    self.$events.fire('milestone-deleted', data.id)
                    $.notify({
                        icon: 'pe-7s-bell',
                        message: 'Milestone deleted'
                    },{
                        type: 'success',
                        timer: 4000
                    });
                },
                (response) => {
                  console.log(response.data.error.message);
                  $.notify({
                        icon: 'pe-7s-bell',
                        message: response.data.error.message
                    },{
                        type: 'danger',
                        timer: 4000
                    });
                }
            );
        });
      },
    }
  }
  </script>

  <style>
    .custom-actions button {
      margin-bottom: 8px;
    }
    .custom-actions button > i.icon {
      margin: auto !important;
    }
  </style>