<template>
    <td class="center-block">
        <button v-if="rowData.achieved" @click="toggleAchieved('toggle-completed', rowData, rowIndex)" class="btn btn-xs btn-fill btn-success">Achieved</button>
        <a  v-else="rowData.achieved"
            @click="toggleAchieved('toggle-completed', rowData, rowIndex)"
            rel="tooltip"
            data-original-title="Mark Task Completed"
            href="#"
            class="btn btn-simple btn-icon text-muted">
            <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i>
        </a>
    </td>
</template>

  <script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    data() {
        return {

        }
    },
    methods: {
      toggleAchieved (action, data, index) {
        var self = this;
        self.$http.post('/milestones/' + data.id  + '/toggle-achieved').then(
            (response) => {
                self.$events.fire('milestone-toggled', data.id)
                $.notify({
                    icon: 'pe-7s-bell',
                    message: 'Milestone updated!'
                },{
                    type: 'success',
                    timer: 4000
                });
            },
            (response) => {
              console.log(response.data.error.message);
              $.notify({
                    icon: 'pe-7s-bell',
                    message: response.data.error.message
                },{
                    type: 'danger',
                    timer: 4000
                });
            }
        );
      },
    },
    computed: {
        statusChange: function() {
            if(this.rowData.achieved) {
                return "Not Achieved";
            } else {
                return "Achieved";
            }
        }
    }
  }
  </script>

  <style>
    .custom-actions button.ui.button {
      padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
      margin: auto !important;
    }
  </style>