<template>
    <div id="tasks" class="tab-pane active">
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="content">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                            <div class="pull-right" @click="toggleShowCompleted()" v-show="!moreParams.showCompleted">
                                <a href="#" class="btn btn-success btn-fill" role="button"><b>Show Completed Tasks</b></a>
                            </div>
                            <div class="pull-right" @click="toggleShowCompleted()" v-show="moreParams.showCompleted">
                                <a href="#" class="btn btn-success btn-wd" role="button"><b>Hide Completed Tasks</b></a>
                            </div>
                        </div>
                        <div class="fresh-datatables">
                            <div class="dataTables_wrapper form-inline dt-bootstrap">

                                <vue-table-filter-bar></vue-table-filter-bar>

                                <div class="row">
                                    <div class="col-sm-12">

                                        <vuetable ref="vuetable"
                                                  :api-url="url"
                                                  :fields="fields"
                                                  :css="css"
                                                  pagination-path=""
                                                  :sort-order="sortOrder"
                                                  :append-params="moreParams"
                                                  @vuetable:pagination-data="onPaginationData"
                                        ></vuetable>

                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="dataTables_info">

                                                    <vuetable-pagination-info ref="paginationInfo"
                                                                              info-class="pull-left"
                                                    ></vuetable-pagination-info>

                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="dataTables_paginate paging_simple_numbers">

                                                    <vuetable-pagination ref="pagination"
                                                                         :css="cssPagination"
                                                                         :icons="icons"
                                                                         @vuetable-pagination:change-page="onChangePage"
                                                    ></vuetable-pagination>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end content-->
                </div> <!-- end row -->
            </div>
        </div>
</div>
</template>
<script>
    export default {

  props: {
    project: {
        type: Object,
        required: true
    },
  },
  mounted() {
  },
  components: {
  },
  data () {
  	return {
  	  url: "/projects/" + this.project.id + "/edit",
      css: {
        tableClass: 'table table-striped table-bordered',
        loadingClass: 'loading',
        ascendingIcon: 'glyphicon glyphicon-chevron-up',
        descendingIcon: 'glyphicon glyphicon-chevron-down',
        sortHandleIcon: 'glyphicon glyphicon-menu-hamburger',
      },
      cssPagination: {
        wrapperClass: 'pagination pull-right',
        activeClass: 'btn-primary',
        disabledClass: 'disabled',
        pageClass: 'btn btn-border',
        linkClass: 'btn btn-border',
      },
      icons: {
        first: '',
        prev: '',
        next: '',
        last: '',
      },
      fields: [
      {
          name: '__component:tasks-completed-status',
          title: 'Status',
          titleClass: 'text-center',
          dataClass: 'text-center'
        },
        {
          name: 'name',
          sortField: 'name'
        },
        {
          name: 'description',
          sortField: 'description'
        },
        {
          name: 'owner.username',
          title: 'Assigned To'
        },
        {
          name: 'created_at',
          sortField: 'created_at',
          title: 'Created At'
        },
        {
          name: '__component:tasks-table-actions',
          title: 'Actions',
          titleClass: 'text-center',
          dataClass: 'text-center'
        }
      ],
      sortOrder: [
        {
          field: 'name',
          sortField: 'name',
          direction: 'asc'
        }
      ],
      moreParams: {
          'showCompleted': false
      },
  	}
  },
  methods: {
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    toggleShowCompleted() {
      this.moreParams.showCompleted = ! this.moreParams.showCompleted;
      Vue.nextTick( () => this.$refs.vuetable.refresh())
    }
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        'filter': filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh())
    },
    'filter-reset' () {
      this.moreParams = {}
      this.$refs.vuetable.refresh()
      Vue.nextTick( () => this.$refs.vuetable.refresh())
    },
    'task-deleted' (taskId) {
        Vue.nextTick( () => this.$refs.vuetable.refresh())
    },
    'task-toggled' (taskId) {
        Vue.nextTick( () => this.$refs.vuetable.refresh())
    }
  }
}
</script>
