<template>
    <td class="center-block">
        <button v-if="rowData.is_closed" class="btn btn-xs btn-fill btn-danger">Closed</button>
        <button v-else class="btn btn-xs btn-fill btn-success">Open</button>
    </td>
</template>

  <script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    data() {
        return {

        }
    },
    methods: {

    },
    computed: {

    }
  }
  </script>

  <style>
    .custom-actions button.ui.button {
      padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
      margin: auto !important;
    }
  </style>