<template>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li class="active" v-text="project.name"></li>
                    </ol>
                    <div class="card">
                        <div class="header">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a data-toggle="modal"
                                           data-target="#editProjectModal"
                                           :data-project_id="project.id"
                                           :data-project_name="project.name"
                                           :data-project_description="project.description"
                                           :data-project_team="project.team.name"
                                           rel="tooltip"
                                           class="btn btn-simple btn-warning btn-icon table-action edit bootstrap-modal-form-open pull-left"
                                           data-original-title="Edit Project Settings"
                                           href="#"><i class="fa fa-edit"></i>
                                        </a>
                                        <div class="navbar-brand" >Edit Project {{ project.name }}</div>
                                    </div>
                                    <div class="collapse navbar-collapse">
                                        <ul v-if="!project.is_closed" class="nav navbar-nav navbar-right pull-right">
                                            <button  type="button" class="btn btn-success btn-wd bootstrap-modal-form-open" data-toggle="modal" data-target="#addTaskModal">
                                                <span class="btn-label">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                                <b>Add Task</b>
                                            </button>
                                            <button type="button" class="btn btn-success btn-wd bootstrap-modal-form-open" data-toggle="modal" data-target="#addMilestoneModal">
                                                <span class="btn-label">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                                <b>Add Milestone</b>
                                            </button>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="content">
                            <ul role="tablist" class="nav nav-tabs">
                                <li role="presentation" class="active">
                                    <a href="#tasks" data-toggle="tab">Tasks</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#milestones" data-toggle="tab">Milestones</a>
                                </li>
                            </ul>
                            <div class="tab-content">

                                <pi-project-tasks-table :project="project"> </pi-project-tasks-table>
                                <pi-project-milestones-table :project="project"> </pi-project-milestones-table>

                            </div>
                        </div><!-- end content-->
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
</template>

<script>

export default {
  props: {
    project: {
        type: Object,
        required: true
    },
  }
}
</script>