<template>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span v-if="unread" v-show="showCount" class="notification" v-text="unread"></span>
            <p class="hidden-md hidden-lg">
                Notifications
                <b class="caret"></b>
            </p>
        </a>
        <ol class="dropdown-menu">
            <li v-show="announcements.length" v-for="announcement in announcements">
                <a href="#" data-toggle="modal" @click="announcementRead(announcement.id)" :data-target="announcementDataTarget(announcement.id)">
                    <img class="img-circle" :src="getGravatar(announcement.created_by.email)">&nbsp
                    <u v-if="!announcement.pivot.read"><b v-text="announcement.subject"></b></u>
                    <span v-else v-text="announcement.subject"></span>
                    <br>
                </a>
                <hr>
            </li>
            <li v-show="!announcements.length">
                <a href="#" data-dismiss="modal">
                    <b>No Announcements</b>
                </a>
                <hr v-if="canAddAnnouncements">
            <li v-if="canAddAnnouncements">
                <a class="btn btn-success btn-fill" data-toggle="modal" data-target="#addAnnouncementModal">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Add Announcement
                </a>
            </li>
        </ol>


        <!-- Add Annoucement Modal-->
        <div class="modal fade" id="addAnnouncementModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Announcement</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Subject">Subject</label>
                                    <input v-model="newAnnouncement.subject" id="Subject" name="subject" type="text" placeholder="" class="form-control input-md" required="">
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Body">Body</label>
                                    <textarea v-model="newAnnouncement.body" class="form-control" id="Body" name="body" required></textarea>
                                </div>
                                <!-- Button -->
                                <button @click.prevent="addAnnouncement()" data-dismiss="modal" id="submit" name="submit" class="btn btn-success">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Add Annoucement Modal-->

        <!-- Show Annoucement Modal-->
        <div v-for="announcement in announcements" >
            <div class="modal fade" :id="announcement.id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <img class="img-circle" :src="getGravatar(announcement.created_by.email)">&nbsp;<b v-text="announcement.subject"></b>
                        </div>
                        <div class="modal-body">
                            <p v-html="announcement.body"></p>
                        </div>
                        <div class="modal-footer">
                            <h4 class="modal-title">Announcement made by {{ announcement.created_by.username }} {{ timeFromNow(announcement.created_at) }}</h4>
                            <a @click="announcementHide(announcement.id)" class="btn btn-danger btn-wd" data-dismiss="modal">
                                <span class="btn-label">
                                </span>
                                Don't Show Again
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Show Annoucement Modal-->

    </li>

</template>
<style>

</style>
<script>
    export default{

        props: {
            canAddAnnouncements: false
        },
        data(){
            return{
                showCount: false,
                unread: '',
                announcements: {},
                newAnnouncement: {
                    subject: '',
                    body: ''
                },
                subject: '',
                body: '',
            }
        },
        mounted() {
            this.fetchAnnouncements();
            this.listen();
        },
        components:{

        },
        methods: {
            fetchAnnouncements() {
                this.$http.get('/announcements')
                    .then(response => {
                        this.announcements = response.data;
                        this.setUnreadAnnouncementCount();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            listen() {
                Echo.channel('announcements')
                    .listen('AnnouncementWasMade', (e) => {
                        //console.log(e.announcement);
                        this.fetchAnnouncements();
                    });
            },
            addAnnouncement() {
                this.$http.post('/announcements', this.newAnnouncement).then((response) => {
                        this.fetchAnnouncements();
                        this.clearAnnouncementForm();
                            $.notify({
                                icon: 'pe-7s-bell',
                                message: 'Announcement created'
                            },{
                                type: 'success',
                                timer: 4000
                            });
                    },
                    (response) => {
                        if (response.status == 405) {
                            this.fetchAnnouncements();
                            this.clearAnnouncementForm();
                                $.notify({
                                    icon: 'pe-7s-bell',
                                    message: 'Announcement created'
                                },{
                                    type: 'success',
                                    timer: 4000
                                });
                        } else if(response.status == 422) {
                            $.notify({
                                icon: 'pe-7s-bell',
                                message: response.data
                            },{
                                type: 'error',
                                timer: 4000
                            });
                        } else {
                            console.log(response);
                            $.notify({
                                icon: 'pe-7s-bell',
                                message: response.data
                            },{
                                type: 'error',
                                timer: 4000
                            });
                        }
                    }
                );
            },
            clearAnnouncementForm() {
                this.newAnnouncement = {
                    subject: '',
                    body: ''
                }
            },
            getGravatar(email) {
        	    return gravatar.url(email, {s: '60', r: 'g', d: 'identicon'})
        	},
            announcementDataTarget(announcementId) {
                return '#' + announcementId;
            },
            setUnreadAnnouncementCount() {
                var unread = this.announcements.filter(function(obj) {
                        return !obj.pivot.read;
                    });
                this.unread = unread.length;
                this.showCount = true;
            },
            timeFromNow(timestamp) {
                return moment.utc(timestamp).local().fromNow();
            },
            announcementRead(announcementId) {
                this.$http.post('/announcements/' + announcementId + '/read').then((response) => {
                    this.fetchAnnouncements();
                },
                (response) => {
                    if (response.status == 405) {
                        this.fetchAnnouncements();
                    } else if(response.status == 422) {
                        console.log(response.data);
                    } else {
                        console.log(response);
                    }
                }
            );
            },
            announcementHide(announcementId) {
                this.$http.post('/announcements/' + announcementId + '/hide').then((response) => {
                    this.fetchAnnouncements();
                },
                (response) => {
                    if (response.status == 405) {
                        this.fetchAnnouncements();
                    } else if(response.status == 422) {
                        console.log(response.data);
                    } else {
                        console.log(response);
                    }
                }
            );
        }
    },
    computed: {

    },
}
</script>
