<template>
    <div id="app">
        <dropzone
                id="myVueDropzone"
                :url="url"
                :maxFileSizeInMB="maxFileSizeInMB"
                :useFontAwesome="useFontAwesome"
                :headers="headers"
                v-on:vdropzone-success="showSuccess"
                v-on:vdropzone-error="showError"
        ></dropzone>

    </div>
</template>
<style>

</style>
<script>
  import Dropzone from 'vue2-dropzone'

  export default {
    name: 'MyDropzone',
    props: ['url'],
    components: {
      Dropzone
    },
    data () {
        return {
          maxFileSizeInMB: 1000,
          useFontAwesome: true,
          headers: {
            'X-CSRF-TOKEN': Laravel.csrfToken
          }
        }
    },
    methods: {
      'showSuccess': function (file) {
        $.notify({
            icon: "pe-7s-bell",
            message: "<b>File Uploaded Succesfully!</b>"

        },{
            type: 'success',
            timer: 4000,
            placement: {
                from: 'top',
                align: 'right'
            }
        });
      },
      'showError': function (file) {
        $.notify({
            icon: "pe-7s-bell",
            message: "<b>Sorry, there was a problem uploading your file....</b>"

        },{
            type: 'danger',
            timer: 4000,
            placement: {
                from: 'top',
                align: 'right'
            }
        });
      }
    }
  }
</script>