<template>
    <div class="custom-actions">
        <!--<a :href="href" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>-->
        <button class="btn btn-warning" @click="navigate('edit-item', rowData, rowIndex)"><i class="glyphicon glyphicon-pencil"></i></button>
        <button class="btn btn-danger" @click="deleteRecord('delete-item', rowData, rowIndex)"><i class="glyphicon glyphicon-remove"></i></button>
    </div>
</template>

<script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    data() {
        return {
            href: "/teams/" + this.rowData.id + "/edit"
        }
    },
    methods: {
      deleteRecord (action, data, index) {
        var self = this;
        swal({
            title: "Confirm",
            text: "Delete " + data.name + "?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true
        },
        function(){
            self.$http.delete('/teams/' + data.id).then(
                (response) => {
                    self.$events.fire('team-deleted', data.id)
                    $.notify({
                        icon: 'pe-7s-bell',
                        message: 'Team deleted'
                    },{
                        type: 'success',
                        timer: 4000
                    });
                },
                (response) => {
                  $.notify({
                        icon: 'pe-7s-bell',
                        message: response.data.error.message
                    },{
                        type: 'danger',
                        timer: 4000
                    });
                }
            );
        });
      },
      navigate(action, data, index) {
        location.href = "/teams/" + this.rowData.id + "/edit"
      }
    }
  }
  </script>

<style>
    .custom-actions button.ui.button {
      padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
      margin: auto !important;
    }
  </style>