<template>
    <div class="card">
        <div class="header">
            <h4 class="title">Team Managers</h4>
        </div>
        <div class="content">
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="fresh-datatables">
                <div class="dataTables_wrapper form-inline dt-bootstrap">

                    <div class="row">
                        <div class="col-sm-12">

                            <vuetable ref="vuetable"
                                      :api-url="url"
                                      :fields="fields"
                                      :css="css"
                                      pagination-path=""
                                      :sort-order="sortOrder"
                                      :append-params="moreParams"
                                      @vuetable:pagination-data="onPaginationData"
                            ></vuetable>

                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info">

                                        <vuetable-pagination-info ref="paginationInfo"
                                                                  info-class="pull-left"
                                        ></vuetable-pagination-info>

                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers">

                                        <vuetable-pagination ref="pagination"
                                                             :css="cssPagination"
                                                             :icons="icons"
                                                             @vuetable-pagination:change-page="onChangePage"
                                        ></vuetable-pagination>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {

  props: ['teamId'],
  mounted() {

  },
  components: {
  },
  data () {
  	return {
  	  url: "/teams/" + this.teamId + "/managers",
      css: {
        tableClass: 'table table-striped table-bordered',
        loadingClass: 'loading',
        ascendingIcon: 'glyphicon glyphicon-chevron-up',
        descendingIcon: 'glyphicon glyphicon-chevron-down',
        sortHandleIcon: 'glyphicon glyphicon-menu-hamburger',
      },
      cssPagination: {
        wrapperClass: 'pagination pull-right',
        activeClass: 'btn-primary',
        disabledClass: 'disabled',
        pageClass: 'btn btn-border',
        linkClass: 'btn btn-border',
      },
      icons: {
        first: '',
        prev: '',
        next: '',
        last: '',
      },
      fields: [
        {
          name: 'username',
          sortField: 'username'
        }
      ],
      sortOrder: [
        {
          field: 'username',
          sortField: 'username',
          direction: 'asc'
        }
      ],
      moreParams: {

      },
  	}
  },
  methods: {
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    }
  },
  events: {
    'filter-set' (filterText) {
      this.moreParams = {
        'filter': filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh())
    },
    'filter-reset' () {
      this.moreParams = {}
      this.$refs.vuetable.refresh()
      Vue.nextTick( () => this.$refs.vuetable.refresh())
    },
    'team-deleted' (userId) {
        Vue.nextTick( () => this.$refs.vuetable.refresh())
    }
  }
}
</script>