<template>
    <div> <!-- Vue root div -->

        <div class="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Status Updates</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <button type="button" class="btn btn-success btn-wd" data-toggle="modal" data-target="#statusModal" @click="clearStatusForm()">
                                <span class="btn-label">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <b>Add Status Update</b>
                            </button>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="toolbar">
            </div>
            <ul class="timeline" id="timeline">
                <li v-for="(status, index) in statuses" :class="{'timeline-inverted': index % 2 }">
                    <div class="timeline-badge">
                        <div class="photo">
                            <img class="img-circle" :src="getGravatar(status.email)">
                        </div>
                    </div>
                    <div class="timeline-panel">
                        <a href="#"
                           rel="tooltip"
                           @click="deleteStatus(status)"
                           class="btn btn-simple btn-danger btn-icon remove pull-right">
                            <i class="fa fa-times"></i>
                        </a>
                        <a data-toggle="modal"
                           data-target="#statusModal"
                           @click="editStatus(status)"
                           rel="tooltip"
                           class="btn btn-simple btn-warning btn-icon table-action edit pull-right"
                           data-original-title="Edit Status"
                           href="#"><i class="fa fa-edit"></i>
                        </a>
                        <div class="timeline-heading">
                            <h4 class="timeline-title"><b>{{ status.title }}</b></h4>
                            <p>Created by: {{ status.username }}</p>
                            <p>
                                <small class="text-muted">
                                    <i class="glyphicon glyphicon-time"></i>
                                    {{ status.hours_spent }} Hours | {{ timeFromNow(status.performed_at) }} <b v-if="status.admin_time">(Admin Time)</b>
                                </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ status.body }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <!-- Add/Edit Status Modal-->
        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Status Update</h4>
                    </div>
                    <div class="modal-body">
                        <form accept-charset="UTF-8" id="editStatusForm" class="bootstrap-modal-form">
                            <input name="_method" type="hidden" value="PUT">
                            <input name="_token" type="hidden" value="QDmYlIShi9oFDKfeu5G83Xw2VFRv3f4XxPZ6OOWh">
                            <div class="form-group">
                                <label for="title" class="col-sm-3 control-label">Title</label>
                                <input class="form-control" name="title" type="text" v-model="status.title" v-validate.initial="'required'">
                                <p class="text-danger" v-if="errors.has('title')">{{ errors.first('title') }}</p>
                            </div>
                            <div class="form-group">
                                <label for="body" class="col-sm-3 control-label">Body</label>
                                <textarea class="form-control" name="body" cols="50" rows="10" v-model="status.body"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="hours_spent" class="col-sm-3 control-label">Hours Spent</label>
                                <input class="form-control" name="Hours Spent" type="text" v-model="status.hours_spent" v-validate.initial="'required'">
                                <p class="text-danger" v-if="errors.has('Hours Spent')">{{ errors.first('Hours Spent') }}</p>
                            </div>
                            <div class="form-group">
                                <label for="performed_at" class="col-sm-3 control-label">Work Performed On</label>
                                <datepicker :placeholder="placeholder" :value="status.performed_at" :format="format" :disabled="disabled" v-model="status.performed_at" input-class="form-control"></datepicker>
                            </div>
                            <div class="form-group">
                                <input name="admin_time" type="hidden" value="0">
                                <label for="admin_time">Was this Admin Time?</label>
                                <input name="admin_time" type="checkbox" value="1" v-model="status.admin_time">
                            </div>
                            <input v-if="status.id" class="btn btn-wd btn-info" type="submit" value="Update" @click.prevent="updateStatus" data-toggle="modal" data-target="#statusModal">
                            <input v-else class="btn btn-wd btn-info" type="submit" value="Create" @click.prevent="createStatus" data-toggle="modal" data-target="#statusModal" :disabled="formNotReadyToSubmit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Status Modal -->

    </div> <!-- Vue root div -->
</template>

<style lang="sass">

</style>

<script>
export default {

    props: {
        task: {
            type: Object,
            required: true
        },
        user: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            statuses: '',
            status: {
                id: '',
                title: '',
                body: '',
                hours_spent: '',
                performed_at: '',
                task_id: this.task.id,
                user_id: this.user.id,
                admin_time: false,
            },
            format: 'yyyy-MM-dd',
            disabled: {
                from: new Date()
            },
            placeholder: "Pick a Date",
        }
    },
    mounted() {
        this.fetchStatuses();
        $("input").attr("readonly", false);
    },
    events: {

    },
    methods: {
        timeFromNow(timestamp) {
            return moment(timestamp).fromNow();
        },
        fetchStatuses() {
            this.$http.get('/tasks/' + this.task.id + '/edit')
                .then(response => {
                    this.statuses = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        createStatus() {
            this.$http.post('/statuses', this.status).then((response) => {
                    this.fetchStatuses();
                    this.clearStatusForm(),
                    $.notify({
                        icon: 'pe-7s-bell',
                        message: 'Status created'
                    },{
                        type: 'success',
                        timer: 4000
                    });
                },
                (response) => {
                    if (response.status == 405) {
                        this.fetchStatuses();
                        this.clearStatusForm(),
                        $.notify({
                            icon: 'pe-7s-bell',
                            message: 'Status created'
                        },{
                            type: 'success',
                            timer: 4000
                        });
                    } else if(response.status == 422) {
                        $.notify({
                            icon: 'pe-7s-bell',
                            message: response.data
                        },{
                            type: 'error',
                            timer: 4000
                        });
                    } else {
                        console.log(response);
                        $.notify({
                            icon: 'pe-7s-bell',
                            message: response.data
                        },{
                            type: 'error',
                            timer: 4000
                        });
                    }
                }
            );
        },
        updateStatus() {
            this.$http.put('/statuses/' + this.status.id, this.status).then((response) => {
                    this.fetchStatuses();
                    this.clearStatusForm(),
                    $.notify({
                        icon: 'pe-7s-bell',
                        message: 'Status updated'
                    },{
                        type: 'success',
                        timer: 4000
                    });
                },
                (response) => {
                    if (response.status == 405) {
                        this.fetchStatuses();
                        this.clearStatusForm(),
                        $.notify({
                            icon: 'pe-7s-bell',
                            message: 'Status updated'
                        },{
                            type: 'success',
                            timer: 4000
                        });
                    } else {
                        $.notify({
                            icon: 'pe-7s-bell',
                            message: response.data
                        },{
                            type: 'error',
                            timer: 4000
                        });
                    }
                }
            );
        },
        editStatus(status) {
            this.status.id = status.id,
            this.status.title = status.title,
            this.status.body = status.body,
            this.status.hours_spent = status.hours_spent,
            this.status.performed_at = moment(status.performed_at).format(),
            this.status.admin_time = status.admin_time
        },
        deleteStatus(status) {
            var self = this;
        		swal({
				  	title: "Confirm",
				  	text: "Delete " + status.title + "?",
				  	type: "warning",
				  	showCancelButton: true,
				  	confirmButtonColor: "#DD6B55",
				  	confirmButtonText: "Yes, delete it!",
				  	closeOnConfirm: true
				},
				function(){
					self.$http.delete('/statuses/' + status.id).then(
	        			(response) => {
	        			    self.fetchStatuses();
	        				$.notify({
						        icon: 'pe-7s-bell',
						        message: 'Status deleted'
						    },{
						        type: 'success',
						        timer: 4000
						    });
	        			},
	        			(response) => {
	        				if (response.status == 405) {
	        				    self.fetchStatuses();
	        					$.notify({
							        icon: 'pe-7s-bell',
							        message: 'Status deleted'
							    },{
							        type: 'success',
							        timer: 4000
							    });
	        				} else {
	        					$.notify({
							        icon: 'pe-7s-bell',
							        message: response.data
							    },{
							        type: 'error',
							        timer: 4000
							    });
	        				}
	        			}
	        		);

				});
        	},
        	clearStatusForm() {
        	    this.status = {
                        id: '',
                        title: '',
                        body: '',
                        hours_spent: '',
                        performed_at: '',
                        task_id: this.task.id,
                        user_id: this.user.id,
                        admin_time: false,
                    }
        	},
        	getGravatar(email) {
        	    return gravatar.url(email, {s: '80', r: 'g', d: 'identicon'})
        	}
    },
    computed: {
        formNotReadyToSubmit: function() {
            return this.errors.errors.length || !this.status.title || !this.status.hours_spent;
        }
    },
}
</script>