<template>
    <div :class="chartDivSize">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">
                            {{ title }}
                        </h4>
                        <p class="category">{{ category }}</p>
                    </div>
                    <div v-if="isManager" class="col-md-4 pull-right">
                        <h4 class="title pull-right">Filter by Team</h4>
                        <select v-model="selectedFilter" @change="reload" class="form-control selectpicker">
                            <option v-for="filter in filters">{{ filter }}</option>
                        </select>
                    </div>
                </div>`
            </div>
            <div class="content">
                <canvas :id="chartId" style="height: 352px; width: 704px;" width="1408" height="704"></canvas>
            </div>
            <div class="footer">
                <div class="legend">
                </div>
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i><div v-html="stats"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
</style>

<script>
export default {
    props: ['url', 'chartId', 'chartDivSize'],

    data() {
        return {
            title: '',
            category: '',
            stats: '',
            filters: [],
            selectedFilters: null,
            isManager: false,
            chart: null,
        }
    },

    mounted() {
        this.load();
    },

    methods: {
        load() {
            this.fetchData().then(
                response => this.render(response.data)
            );
        },
        fetchData() {
            if(this.selectedFilter) {
                console.log(this.selectedFilter);
                var resource = this.$resource(this.url);
                return resource.get({ filter: this.selectedFilter });
            } else {
                return this.$http.get(this.url);
            }
        },
        render(data) {
            this.title = data.title;
            this.category = data.category;
            this.stats = data.stats;
            this.filters = data.filters;
            this.filters.unshift('All');
            if(data.selectedFilter) {
                this.selectedFilter = data.selectedFilter;
            } else {
                this.selectedFilter = 'All';
            }
            this.isManager = data.isManager;

            var ctx = $("#" + this.chartId);

            var dataset = [];

            // If our data is an object, we need to loop
            // the ChartJs data
            if(typeof data.data[0] === 'object') {
                var metricCount = Object.keys(data.data[0]).length;
                var dataSetCount = data.data.length;

                for(var i = 0; i<metricCount; i++) {
                    // Set the Dataset Label
                    var label = data.metric[i];

                    // Set the Dataset Data
                    var dataSetData = [];
                    for(var j = 0; j<dataSetCount; j++) {
                        dataSetData.push(data.data[j][i]);
                    }

                    // Set the Dataset Background and Hover Colors
                    var dataSetBgColor = [];
                    var dataSetHoverColor = [];
                    for(var j = 0; j<dataSetCount; j++) {
                        dataSetBgColor.push(data.background_colors[i]);
                        dataSetHoverColor.push(data.hover_colors[i]);
                    }

                    // Push the Dataset onto the array
                    dataset.push({
                        label: label,
                        data: dataSetData,
                        backgroundColor: dataSetBgColor,
                        hoverBackgroundColor: dataSetHoverColor
                    });
                }
            } else {
                dataset.push({
                    label: data.metric,
                    data: data.data,
                    backgroundColor: data.background_colors,
                    hoverBackgroundColor: data.hover_colors
                });
            }

            var data = {
                labels: data.labels,
                datasets: dataset
            };

            console.log(data);

            this.chart = new Chart(ctx, {
                type: "bar",
                data: data,
                options: {
                    scaleLabel: {
                        display: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontStyle: "bold"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontStyle: "bold"
                            }
                        }]
                    },
                    legend: {
                        display: false
                    }
                }
            });
        },
        reload() {
            this.chart.destroy();
            this.load();
        }
    }
}
</script>
