<template>
    <div :class="chartDivSize">
        <div class="card">
            <div class="header">
                <h4 class="title">{{ title }}</h4>
                <p class="category">{{ category }}</p>
            </div>
            <div class="content">
                <canvas :id="chartId" style="height: 352px; width: 704px;" width="1408" height="200"></canvas>
            </div>
            <div class="footer">
                <div class="legend">
                </div>
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i><div v-html="stats"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
</style>

<script>
export default {
    props: ['url', 'chartId', 'chartDivSize'],

    data() {
        return {
            title: '',
            category: '',
            stats: '',
            chart: null,
        }
    },

    mounted() {
        this.$http.get(this.url)
            .then(response => {
                var data = response.data;

                this.title = data.title;
                this.category = data.category;
                this.stats = data.stats;

                var ctx = $("#" + this.chartId);

                var data = {
                    labels: data.labels,
                    datasets: [
                    {
                        label: data.metric,
                        data: data.data,
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        spanGaps: false,
                    }]
                };

                new Chart(ctx, {
                    type: "line",
                    data: data,
                    options: {
                        scaleLabel: {
                            display: true
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true,
                                    fontStyle: "bold"
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero:true,
                                    fontStyle: "bold"
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            });
    }
}
</script>
