<template>
    <div :class="chartDivSize">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    {{ title }}
                </h4>
                <p class="category">{{ category }}</p>
            </div>
            <div class="content">
                <canvas :id="chartId" style="height: 352px; width: 704px;" width="1408" height="704"></canvas>
            </div>
            <div class="footer">
                <div class="legend">
                </div>
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i>{{ stats }}
                </div>
            </div>
        </div>
    </div>
</template>

<style>
</style>

<script>
export default{
    props: ['url', 'chartId', 'chartDivSize'],

    data() {
        return {
            title: '',
            category: '',
            stats: '',
            chart: null,
        }
    },
    mounted() {

        this.$http.get(this.url)
            .then(response => {
                var data = response.data;

                this.title = data.title;
                this.category = data.category;
                this.stats = data.stats;

                var ctx = $("#" + this.chartId);

                var data = {
                    labels: data.labels,
                    datasets: [
                    {
                        label: data.metric,
                        data: data.data,
                        backgroundColor: data.background_colors,
                        hoverBackgroundColor: data.background_colors
                    }]
                };

                new Chart(ctx, {
                    type: "pie",
                    data: data,
                    options: {

                    }
                });
            });
    }
    }
</script>
